<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.2">
  <actions/>
  <description></description>
  <keepDependencies>true</keepDependencies>
  <properties>
    <jenkins.advancedqueue.AdvancedQueueSorterJobProperty plugin="PrioritySorter@2.8">
      <useJobPriority>false</useJobPriority>
      <priority>-1</priority>
    </jenkins.advancedqueue.AdvancedQueueSorterJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Source_Artifacts</name>
          <description></description>
          <defaultValue>Data_Feature_Combine</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.21">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/dnola/dnola-summer-research.git</url>
        <credentialsId>1dd9e6d7-e64c-4329-9e48-e879c84d5c0d</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
      <hudson.plugins.git.extensions.impl.WipeWorkspace/>
    </extensions>
  </scm>
  <scmCheckoutRetryCount>10</scmCheckoutRetryCount>
  <assignedNode>&quot;zzz Task Manager&quot;</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>Subject_Name</name>
      <values>
        <string>Dog_1</string>
        <string>Dog_2</string>
        <string>Dog_3</string>
        <string>Dog_4</string>
        <string>Patient_1</string>
        <string>Patient_2</string>
        <string>Patient_3</string>
        <string>Patient_4</string>
        <string>Patient_5</string>
        <string>Patient_6</string>
        <string>Patient_7</string>
        <string>Patient_8</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelAxis>
      <name>label</name>
      <values>
        <string>zzz Task Manager</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <hudson.plugins.python.Python plugin="python@1.2">
      <command>import os
weak = [&apos;Dog_1&apos;, &apos;Dog_2&apos; , &apos;Patient_1&apos;, &apos;Patient_4&apos;]
medium = [&apos;Patient_2&apos; , &apos;Patient_3&apos; , &apos;Dog_4&apos; , &apos;Patient_8&apos;]
if os.environ[&apos;Subject_Name&apos;] in weak:
     f = open(&apos;test.props&apos; , &apos;w&apos;)
     f.write(&apos;Node=any&apos;)
     f.close()
elif os.environ[&apos;Subject_Name&apos;] in medium:
     f = open(&apos;test.props&apos; , &apos;w&apos;)
     f.write(&apos;Node=strong&apos;)
     f.close()
else:
     f = open(&apos;test.props&apos; , &apos;w&apos;)
     f.write(&apos;Node=heavy&apos;)
     f.close()</command>
    </hudson.plugins.python.Python>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.25">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>Subject=$Subject_Name
Source_Artifacts=$Source_Artifacts</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>test.props</propertiesFile>
              <failTriggerOnMissing>false</failTriggerOnMissing>
              <useMatrixChild>false</useMatrixChild>
              <onlyExactRuns>false</onlyExactRuns>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>Train_Regular_Subject</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.30">
      <project>Train_Regular_Subject</project>
      <filter>${Subject_Name}_RESULTS.pkl, Features/, *.spkl</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.SpecificBuildSelector">
        <buildNumber>$TRIGGERED_BUILD_NUMBER_Train_Regular_Subject</buildNumber>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>${Subject_Name}_RESULTS.pkl, Features/, *.spkl</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Fingerprinter>
      <targets>${Subject_Name}_RESULTS.pkl</targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
  </publishers>
  <buildWrappers>
    <matrixtieparent.BuildWrapperMtp plugin="matrixtieparent@1.2">
      <labelName>zzz Task Manager</labelName>
    </matrixtieparent.BuildWrapperMtp>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>